.container{
    margin-left: 35%;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 2px 10px;
    width: 30%;
    background-color: #e4e8e9;
    border-radius: 10px;
}
.btn{
    margin-left: 10px;


}
.list{
    display: flex;
    flex-direction: column;
    

}
.item{
    margin-top:10px;
    
}




